<h1>Edit Person</h1>

<form action="/people/<%= @person['id'] %>" method="post">
  <label for="person">Person</label><br>
  <input type="text" name="person" value="<%= @person['person'] %>"><br>

 Movie:
  <select name="movie_id">
    <% @movies.each do |movie| %>
      <option value="<%= movie["id"] %>">
        <%= movie["movie_name"] %>
      </option>
    <% end %>
  </select><br>

 Task:
  <select name="task_id">
    <% @todos.each do |task| %>
      <option value="<%= task["id"] %>">
        <%= task["task_name"] %>
      </option>
    <% end %>
  </select><br>

  <button>Save Changes</button>
</form>

<form action="/people/<%= @person['id'] %>/delete" method="post">
  <button>Delete</button>
</form>