<h2>Edit Task</h2>

<form action="/todos/<%= @todo['id'] %>" method="post">
  <label for="task_name">Task</label><br>
  <input type="text" name="task_name" value="<%= @todo['task_name'] %>"><br>
  <label for="description">Description</label><br>
  <input type="text" name="description" value="<%= @todo['description'] %>"><br>

 Movie:
  <select name="movie_id">
    <% @movies.each do |movie| %>
      <option value="<%= movie["id"] %>">
        <%= movie["movie_name"] %>
      </option>
    <% end %>
  </select><br>

  <button>Save Changes</button>
</form>

