<div class="row-fluid wrapper well">
  <% @movies.each do |movie| %>
      <div class="movielist">
        <div class="movie_image">
          <img src="<%= movie['image'] %>" />
        </div>
        <div class="movie_name">
          <p class="movie_title"><a href="/movie/<%= movie['id'] %>"><%= movie['name'] %></a></p>
          <p><%= movie['director'] %></p>
          <p><%= movie['releasedate'] %></p>
        </div>
      </div>
  <% end %>
</div>