<div class="wrapper well row-fluid">
  <div class="pull-left movie_image">
    <img src="<%= @movie['image'] %>" />
  </div>
  <div class="movie_content">
     <a href="/movie/<%= @movie['id'] %>/edit" class="edit">Edit</a>
    <h3 class="headtitle"><%= @movie['name'] %></h3>
    <h4><%= @movie['director'] %></h4>
    <h4><%= @movie['releasedate'] %></h4>
    <hr>

    <h4>Related Tasks</h4>
    <ul>
      <% @tasks_of_movie.each do |task| %>
        <li><a href="/todo/<%= task['id'] %>"><%= task['errand'] %></a></li>
      <% end %>
    </ul>
  </div>
</div>