<% if @movie %>
<form action="/edit_movie/<%=@movie["id"]%>" method="POST">
  Movie Name: <input type="text" name="name" value="<%=@movie["name"]%>" autofocus></br></br>
  Release Date: <input type="date" name="release_date" value="<%=@movie["release_date"]%>"></br></br>
  Person:
  <select name="people_id">
    <% @people.each do |person| %>
      <option value="<%= person["id"] %>">
        <%= person["name"] %>
      </option>
    <% end %>
  </select></br></br>
  <button>Submit</button>
  </form>
<% else %>
<form action="/new_movie" method="POST">
  Movie Name: <input type="text" name="name" autofocus></br></br>
  Release Date: <input type="date" name="release_date"></br></br>
  Person:
  <select name="people_id">
    <% @people.each do |person| %>
      <option value="<%= person["id"] %>">
        <%= person["name"] %>
      </option>
    <% end %>
  </select></br></br>
  <button>Create New Movie</button>
  </form>
<% end %>








